/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply mx-auto;
}

#home {
  @apply bg-white dark:text-palette-text dark:bg-palette-dark dark:bg-palette-background;
}

#who-we-are {
  @apply bg-white dark:text-palette-text dark:bg-palette-dark dark:bg-palette-background;
}

#volunteer {
  @apply bg-white dark:text-palette-text dark:bg-palette-dark dark:bg-palette-background;
}

#success-stories {
  @apply bg-white dark:text-palette-text dark:bg-palette-dark dark:bg-palette-background;
}


#mission-statement
#vision-statement {
 /* comment */
}

#footer {
  @apply bg-white dark:text-palette-text dark:bg-palette-dark dark:bg-palette-background;
}

h2 .text-2xl

body {
  @apply bg-white text-gray-900 dark:bg-palette-background dark:text-palette-text;
}

@media screen and (max-width: 1111px) {
  #nav-strip {
    display: none !important;
  }
}


@media screen and (min-width: 1111px) {
  #menu-icon,
  #menu {
    display: none !important;
  }
}

.loader {
  border-top-color: #3498db;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.faq-enter {
  max-height: 0;
  opacity: 0;
  transition: all 300ms ease-in;
}
.faq-enter-active {
  max-height: 200px;
  opacity: 1;
}
.faq-exit {
  max-height: 200px;
  opacity: 1;
}
.faq-exit-active {
  max-height: 0;
  opacity: 0;
  transition: all 300ms ease-in;
}

